<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Actualizar Visit</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <form th:action="@{/visit/update}" method="POST" th:object="${visit}">

        <input type="hidden" name="id" value="id" th:value="${visitToUpdate.id}"/>

        <!-- Local input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="local">Local:</label>
            <input type="text" id="local" name="local" class="form-control" th:value="${visitToUpdate.local}"/>
        </div>

        <!-- DNI input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="dniAffiliate">DNI:</label>
            <input type="text" id="dniAffiliate" name="dniAffiliate" class="form-control" th:value="${visitToUpdate.dniAffiliate}"/>
        </div>

        <!-- Date input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="date">Fecha:</label>
            <input type="date" id="date" name="date" class="form-control" th:value="${visitToUpdate.date}"/>
        </div>

        <!-- Hour input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="hour">Hora:</label>
            <input type="time" id="hour" name="hour" class="form-control" th:value="${visitToUpdate.hour}"/>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Actualizar</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
</body>
</html>