<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>List Affiliates</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>PhotoUrl</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="affiliate: ${listaffiliates}">
            <td th:text="${affiliate.id}"></td>
            <td th:text="${affiliate.dniAffiliate}"></td>
            <td th:text="${affiliate.name}"></td>
            <td th:text="${affiliate.lastname}"></td>
            <td th:text="${affiliate.urlPhoto}"></td>
            <td>
                <div class="row">
                    <div class="col-3">
                        <a th:href="@{/affiliate/update(id=${affiliate.id})}" class="btn btn-primary">Editar</a>
                    </div>
                    <div class="col-3">
                        <form th:action="@{/affiliate/delete(id=${affiliate.id})}" th:method="delete">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <br>

    <a th:href="@{/affiliate/register}" class="btn btn-success">Crear afiliado</a>

    <a th:href="@{/mainmenu}" class="btn btn-warning">Regresar a Menu Principal</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
</body>
</html>